# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable travis-ci-status-lite': 'travis-ci-status-lite:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'travis-ci-status-lite'
      'submenu': [
        { 'label': 'Toggle', 'command': 'travis-ci-status-lite:toggle' }
      ]
    ]
  }
]
